@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

#header { 
    background-color:rgb(4, 128, 0);
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:2800px;
    width:320px;
    float:left;
    padding:5px;	      
}

#section {
    width:800px;
    float:left;
    padding:10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px 300px;
    background-color:white;
    grid-gap: 40px;
}

.wrappeL {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px 240px;
    background-color:white;
    grid-gap: 40px;
}

#diy_right_menu 
{
    opacity: 0.05;
    position: fixed;
    right: 2%;
    top: 2%;
    width: 15em;
    margin-top: 6em;
    background-color:rgb(4, 128, 0);
    padding: 1.5em;
    border-radius: 0;
    transition: 0.6s ease-in-out;
    color: white;            
}
            
#diy_right_menu:hover 
{
  color: white;
  right: 2%;
  top: 2%;
  border-radius: 10%;
  opacity: 1.3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in-out;
}
            
#diy_right_menu a 
{
  color: #f2f2f2cc;
  transition: 0.4s ease-in-out;
}
            
#diy_right_menu a:hover 
{
  font-size: larger;
  color: blue;
  background-color: bisque;
  transition: 0.4s ease-in-out;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 2526200 */
    src: url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.woff2?t=1621069802615') format('woff2'), url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.woff?t=1621069802615') format('woff'), url('http://at.alicdn.com/t/font_2526200_dra74wlaxnj.ttf?t=1621069802615') format('truetype');
}

.photo .wrap {
    width: 800px;
    height: 500px;
    margin: 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    margin-top: 0.5rem;
}

.photo .wrap .list {
    width: 100%;
    height: 100%;
    position: relative;
}

.photo .wrap .list .item {
    position: absolute;
    opacity: 0;
    transition: all 2s;
}

.photo .wrap .list .item>a>img {
    width: 800px;
    height: 500px;
}

.photo .wrap .btn {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 800;
    background-color: rgba(0, 0, 0, .1);
    transform: translate(0, -50%);
    font-family: 'iconfont';
    font-size: 20px;
    border: none;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.photo .wrap .btn:hover{
    box-shadow: var(--box-shadow-inset);
    background: green;
}

.photo .wrap #Prev {
    left: 39px;
    border-radius: 0 100% 100% 0;
}

.photo .wrap #Next {
    right: -5px;
    border-radius: 100% 0 0 100%;
}

.photo .wrap .list .active {
    z-index: 1;
    opacity: 1;
}

.photo .wrap .pointList {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.photo .wrap .pointList .point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.photo .wrap .pointList .current {
    background-color: green;
    transform: scale(1.5);
}