@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.root {
   min-height: 100vh;
}

.titile-background {
    text-align: center;
    background: url(../background/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
}

.titile-background h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: green;
    font-family: 'Kaushan Script', cursive;
}

.titile-background p {
    font-size: 2rem;
    line-height: 2;
    color: black;
}

.titile-background p a {
    color: green;
}
  
.titile-background p a:hover {
    text-decoration: underline;
}
 
.area{
   padding:25px 10%;
   text-align: center;
   margin-bottom: 7rem;
}
  
.area #search-box{
   width: 800px;
   border:3px solid #000;
   padding:12px 15px;
   font-size: 20px;
   font-family: 'Kaushan Script', cursive;
   margin-bottom: 1rem;
}
 
.area .video-area{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap:50px;
   padding-top: 30px;
}
 
.area .video-area .place{
   padding:15px;
   background-color: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   border:2px solid #000;
   width: 450px;
   border-radius: 5px;
   animation: fadeIn .2s linear;
}

.area .video-area .place video{
   height: 300px;
   width: 100%;
   object-fit: cover;
   margin-bottom: 10px;
   border-radius: 5px;
}

/* .area .video-area .place iframe{
   height: 300px;
   width: 100%;
   object-fit: cover;
   margin-bottom: 10px;
   border-radius: 5px;
} */

 
.area .video-area .place h3{
   font-size: 20px;
   font-family: 'Kaushan Script', cursive;
   margin-top: 1rem;
}
 
@media (max-width:768px){
   .area #search-box{
     width: 100%;
   }
}
 
@media (max-width:450px){
   .area{
     padding:25px 20px;
   }
 
   .area .video-area .place{
     width: 100%;
   }
}
